In [1]:
#question1
def factorial(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return fact
n=int(input("Enter positive number:"))
f=factorial(n)
print(f)

Enter positive number:6
720

In [2]:
#question2
relation={"Darth":"father","Leia":"sister","Han":"brother in law","R2D2":"droid"}
for i in relation.values():
  print("Luke,Iam your",i)

Luke,Iam your father
Luke,Iam your sister
Luke,Iam your brother in law
Luke,Iam your droid

In [3]:
#question3
num = int(input("Enter a number:"))
count = 0

while num != 0:
  num //= 10
  count += 1

print("Number of digits:" + str(count))

Enter a number:4
Number of digits:1

In [4]:
#question4
def total_factorial(num):
  fact =1
  while num > 0:
    for item in range(1,num+1):
      fact = fact * item
    num = num-1
  return fact

result = total_factorial(5)
print(result)

34560

In [5]:
#question5
list = [1,2,3]
print("The original list is:" + str(list))
m = sum(map(lambda i:i*i,list))
print("The sum of squares of list is :" + str(m))

The original list is:[1, 2, 3]
The sum of squares of list is :14

In [7]:
#question6
number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your second number: '))
operation = input('''
Please enter an operation to do:
+ for addition
- for subtraction
* for multiplication
/ for division
''')


if operation == '+':
    print('{} + {} = '.format(number_1, number_2))
    print(number_1 + number_2)

elif operation == '-':
    print('{} - {} = '.format(number_1, number_2))
    print(number_1 - number_2)

elif operation == '*':
    print('{} * {} = '.format(number_1, number_2))
    print(number_1 * number_2)

elif operation == '/':
    print('{} / {} = '.format(number_1, number_2))
    print(number_1 / number_2)

else:
    print('You have not typed a valid operator, please run the program again.')

Enter your first number: 5
Enter your second number: 5

Please enter an operation to do:
+ for addition
- for subtraction
* for multiplication
/ for division
+
5 + 5 =
10

In [8]:
#question7
n = int(input("Please enter number:"))
for i in range(0,n):
    if(i%2!=0):
        print("I WILL")
    else:
        print("I CAN")

Please enter number:6
I CAN
I WILL
I CAN
I WILL
I CAN
I WILL

In [9]:
#question9
def areConsecutive(arr, n):
     
    for i in range (1,n):
        if(arr[i]!=arr[i-1]+1):
            return False;
             
    return True;   
a = [4,2,3]
b = [1,5,6]    
arr = a+b
n = len(arr)
if(areConsecutive(arr, n) == True):
    print("true i.e.,Array elements are consecutive ")
else:
    print("false i.e.,Array elements are not consecutive ")

false i.e.,Array elements are not consecutive

In [10]:
#question10
d={"cost_price":32.67,"sell_price":45.00}
inventory=1200
a=d.get("cost_price")
b=d.get("sell_price")
profit=(b-a)*inventory
c=round(profit)
print(c)

14796